<div class="flex justify-between text-black">
    <h3 class="font-bold text-base">Popular now</h3>
</div>

<div class="space-y-3.5 capitalize text-xs font-normal mt-4 text-gray-600">
    <a>
        <div class="flex items-center gap-3 p">
            <div class="flex-1">
                <h2 class="font-semibold">#Cats</h2>
                <div class="mt-0.5 mb-2">7 posts</div>
            </div>
        </div>
    </a>

    <a>
        <div class="flex items-center gap-3 p">
            <div class="flex-1">
                <h2 class="font-semibold">#Dogs</h2>
                <div class="mt-0.5 mb-2">2 posts</div>
            </div>
        </div>
    </a>

    <a>
        <div class="flex items-center gap-3 p">
            <div class="flex-1">
                <h2 class="font-semibold">#Moon</h2>
                <div class="mt-0.5  mb-2">3 posts</div>
            </div>
        </div>
    </a>
</div>